.wrapper {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: auto;
	align-items: center;
	justify-items: center;
	width:	auto;
	height: auto;
	place-items: center;
 
  background-color: #ffffff;
	color: #000000;
	font-family: arial;
}

.wrapper > div {
 	border: 0.5px solid #000000;
  width:1190px;
  color: #000000;
}

.box1 { 
 
	width:1190px;
}

.box1 ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #0079C3;
	
}

.box1 li{
	float: left;
}

.box1 li a 	{
	display: block;
	color: white;
	text-align: center;
	padding: 27px 15px 27px 15px;
	text-decoration: none;
	font-family: Sumana;
	border-right: 1px solid #2396DD;
	font-size:14px;
}

.box1 li a:hover {
  color: #000;
}

.more:after{
	display: inline-block;
  content: '\f0dd';
  font-size: 13px;
  font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 19px;
	color: white;
}

.box1 li b  	{
	display: block; 	
	padding: 27px 10px 27px 10px;
	display: inline-block;
	font-size: 18px;
  font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 0.006em;
	text-decoration: none;		
	color: #fff;
}

.search-icon:after{
	margin-left:250px;
	content: '\f002';
	font-family: FontAwesome;
}

.EN:after	{
	content: '\f0dd';
	font-family: FontAwesome;
}

.box1 li b:hover {
	color: #000;
}


.box2 {
	display: grid;
	grid-template-columns: 450px auto;
	grid-template-rows: auto;
	width:	auto;
	height: auto;
	border: 2px solid #000000;
  background-color: #ffffff;
	color: #000000;
	font-family: arial;
}

.box2 > div {
 	border: 0.5px solid #000000;
  color: #000000;
	height:261px;
}

.Logo-ITS	{
	position: relative;
	width: 142px;
	height: 88px;
	margin:50px 0 0 0;	
}

.judul{
	font-family: Sumana;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size:48px;
	letter-spacing: 0.006em;
	color:#192D3A;
	margin: 10px 0 10px 0;
}

.search-buku {
padding:0;  
float: right;
}

	.search-buku ul {
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #FFFFFF;
		border: 1px solid #DCDCDC;
		box-sizing: border-box;	
	position: relative;
	width: 680px;
	
	margin:88px 0 0 55px;	

	}

	.search-buku li a 	{
  	display: block;
  	color: black;
  	text-align: center;
  	text-decoration: none;
		font-family: Sumana;
		padding: 0;
		font-size:16px;
	}

	.search-buku li{
		display: block;
		float: right;
	}

	.fook{
		margin-left:503px;
		padding: 0px;
	}

	.fook:after{
		display: inline-block;
    content: '\f107';
    font-size: 15px;
    font-family: FontAwesome;
		font-style: normal;
		font-weight: bold;
		color: black;
		padding: 15px 15px 15px 0;
	}
	
	.Book-search:before{
		display: inline-block;
    content: '\f002';
    font-size: 15px;
    font-family: FontAwesome;
		font-style: normal;
		font-weight: bold;
		color: #fff;
		padding: 15px;;
		
	}

	.Book-search{
		background:#0079C3;
	}	

	.b:after{
 		content: '\f05a';
    font-size: 15px;
    font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		color: #192D3A;
		position: relative;
		width:13px;
		height:15px;
		left:55px;
		top: 10px;
	}

	.notification{
    font-size: 13px;
    font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		line-height: 5px;
		letter-spacing: 0.006em;
		color: #9B9B9B;
		padding: 164px auto auto 528px; 
		position: relative;
		left:75px;
		top: -17px; 
	}




.box3 ul {
	
	list-style-type: none;
	margin: 0px;
	padding: 0;
	overflow: hidden;
	background: white;

	border: 1px solid #EEEEEE;
	box-sizing: border-box;

}

.box3 li {
  	float: left;
}

.box3 li a 	{
	  	display: block;
	  	color: black;
	  	text-align: center;
	  	padding:17.5px 17.5px 17.5px 17.5px;
  	text-decoration: none;
		font-family: Sumana;
		font-size:15px;
		
	}

.Home{
background: #FFBD07;
}

.box3  :hover {
	color:#FFBD07;
  
}

.box4 {
	display: grid;
	grid-template-columns: auto 365px;
	grid-template-rows: auto;
	width:	auto;
	height: auto;
	border: 2px solid #000000;
  background-color: #ffffff;
	color: #000000;
	font-family: arial;
}

.box4 > div {
 	border: 0.5px solid #000000;
  color: #000000;
	height:1503px
}

.seminar{
		position: absolute;
		width: 825px;
		height: 347px;

	}


.box5 {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: auto;
	width:	auto;
	height: auto;
	border: 2px solid #000000;
  background-color: #ffffff;
	color: #000000;
	font-family: arial;
}

.box5 > div {
 	border: 0.5px solid #000000;
  color: #000000;
	height:178px;
}

.side-bar, {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: auto;
	width:	auto;
	height: auto;
	border: 2px solid #000000;
  background-color: #ffffff;
	color: #000000;
	font-family: arial;
}

.side-bar > div {
 	border: 0.5px solid #000000;
  color: #000000;
}


.agenda{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: auto;
	width:	auto;
	height: auto;
	border: 2px solid #000000;
  background-color: #0079C3;
	color: #FFFFFF;
}


.agenda > div {
 	border: 0.5px solid #000000;
  color: #FFFFFF;
	font-family: Mina;
	font-size: 18px;
	line-height: 23px;
	padding: 16px;
	text-align: center; 
	font-weight: bold;
	font-style: normal;
}






.box6 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	width:	auto;
	height: auto;
	border: 0.5px solid #000000;
  height:238px;
}

.box6 > div {
 	border: 0.5px solid #000000;
  color: #000000;
	background-color: #0079C3;
	padding-top:13px;
}

.logo-its-putih	{
	position: relative;
	width: 187px;
	height:121px;
padding: 0;
}

.box6 p {
display: block;
	color: white;
	text-align: left;
	text-decoration: none;
	font-family: Arial;
	font-size:10px;
	line-height: 5px;
}

.footeratas2 p, .footeratas3 p, .footeratas4 p{
font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: 5px;
font-size: 15px;
color: #FFFFFF;
}

.footeratas2 b, .footeratas3 b, .footeratas4 b{
font-family: Sumana;
font-style: normal;
font-weight: normal;
line-height: 30px;
font-size:14px;
color:#FFFFFF;
}


.box7 ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000000;
	
}
.box7 li a{
	display: inline-block;
}

.box7 li a{
	float: left;
}
.box7 li b{
		display: inline-block;

	float: right;
}
.box7 li  a	{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 18px 5px 18px 0px;
	text-decoration: none;
	font-family: fontAwesome;

	font-size:14px;
}

.box7 li a:hover {
  color: #000;
}

.box7 li  b	{
	display: inline-block;
	color: white;
	text-align: left;
	padding: 18px 0px 18px 0px;
	text-decoration: none;
	font-family: Sumana;
	font-size:14px;
}

.youtube:after {
    content: '\f16a';
	font-style: normal;
		}
.facebook:after {
    content: '\f082';
	font-style: normal;
		}
.twitter:after {
    content: '\f099';
	font-style: normal;

		}
.instagram:after {
    content: '\f16d';
	font-style: normal;
		}


