body {
margin:0;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 20% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 25%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 



/* The Modal (background) */
.loglog {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.login-content {
  background-color: #fefefe;
  margin: 20% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 25%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close1 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close1:hover,
.close1:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 




/* The Modal (background) */
.register {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.register-content {
  background-color: #fefefe;
  margin: 20% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 25%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 


.wrapper {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: auto;
	align-items: center;
	justify-items: center;
	width:	auto;
	height: auto;
	place-items: center;
  background-color: #ffffff;
	color: #000000;
	font-family: arial;
}

.wrapper > div {
  color: #000000;
}

.box1 { 
 	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: auto;
	align-items: center;
	justify-items: center;
	place-items: center;
  background-color: #0079C3;
	color: #000000;
	font-family: arial;
	width:100%;
}

.box1 ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #0079C3;	
}

.box1 li{
	float: left;
}

.box1 li a 	{
	display: block;
	color: white;
	text-align: center;
	padding: 27px 15px 27px 15px;
	text-decoration: none;
	font-family: Sumana;
	border-right: 1px solid #2396DD;
	font-size:14px;
}

.box1 li a:hover {
  color: #000;
}

.more:after{
	display: inline-block;
  content: '\f0dd';
  font-size: 13px;
  font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 19px;
	color: white;
}

.box1 li b  	{
	display: block; 	
	padding: 0px 10px 0px 10px;
	display: inline-block;
	font-size: 18px;
  font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 0.006em;
	margin: 16.5px 0 16.5px 0;
	color: #fff;
	line-height: 35px;
}

.search-icon:after{
	margin-left:270px;
	content: '\f002';
	font-family: FontAwesome;
}

.active {

border-left: 1px  solid #2396DD;
}
.EN:after	{
	content: '\f0dd';
	font-family: FontAwesome;
}

.box1 li b:hover {
	color: #000;
}

.box2 {
	display: grid;
	grid-template-columns: 450px auto;
	grid-template-rows: auto;
	width:	1190px;
	height: auto;
	
  background-color: #ffffff;
	color: #000000;
	font-family: arial;
}

#login-button{
  cursor: pointer;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.1s;
	width: 85px;
	height: 35px;
	background: #FFBD07;
	border-radius: 3px;
	font-family: Myriad Pro;
	font-size: 14px;
	color: #0079C3;
	font-weight:bold; 
}

.box2 > div {
 
  color: #000000;
	height:261px;
}

.Logo-ITS	{
	position: relative;
	width: 142px;
	height: 88px;
	margin:50px 0 0 0;	
}

.judul{
	font-family: Sumana;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size:48px;
	letter-spacing: 0.006em;
	color:#192D3A;
	margin: 10px 0 10px 0;
}

.search-buku {
	padding:75px 0 0 0;  
	float: right;
line-height: 45px;
}

.search-bar {
	display: grid;
	grid-template-columns: repeat(3 , 1fr);
	grid-template-rows: auto;
	width:	600px;
	height: auto;
	border: 1px solid #000000;
  background-color: #ffffff;
	color: #000000;
	font-family: arial;
}

.search-bar > div {
  color: #000000;
	height:45px;
}

.w3-input {
 width: 460px;
height: 45px;
margin-right: 10px;
}
	
.Book-search:before{
	display: inline-block;
  content: '\f002';
  font-size: 15px;
  font-family: FontAwesome;
	font-style: normal;
	font-weight: bold;
	color: #fff;
	padding: 15px;;
}

	.Book-search{
		background:#0079C3;
	}	

	.b:after{
 		content: '\f05a';
    font-size: 15px;
    font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		color: #192D3A;
		position: relative;
		width:13px;
		height:15px;
		left:55px;
		top: 10px;
	}

	.notification{
    font-size: 13px;
    font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		line-height: 5px;
		letter-spacing: 0.006em;
		color: #9B9B9B;
		padding: 164px auto auto 528px; 
		position: relative;
		left:75px;
		top: -17px; 
	}

.box3 {
width:1190px;
}


.box3 ul {
	
	list-style-type: none;
	margin: 0px;
	padding: 0;
	overflow: hidden;
	background: white;
	box-sizing: border-box;

}

.box3 li {
  	float: left;
}

.box3 li a 	{
	  	display: block;
	  	color: black;
	  	text-align: center;
	  	padding:17.5px 17.5px 17.5px 17.5px;
  	text-decoration: none;
		font-family: Sumana;
		font-size:15px;
		
	}

.Home{
background: #FFBD07;
}

.box3  :hover {
	color:#FFBD07;
  
}

.box4 {
	display: grid;
	grid-template-columns: auto 365px;
	grid-template-rows: auto;
	width:	1190px;
	height: auto;
	background-color: #ffffff;
	color: #000000;
	font-family: arial;
}

.box4 > div {
 	
  color: #000000;
	height: auto;
}

.seminar{
		position: absolute;
		width: 825px;
		height: 347px;
}



.box5 {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: auto;
	width:	1190;
	height: auto;
	
  background-color: #ffffff;
	color: #000000;
	font-family: arial;
}

.box5 > div {
 	
  color: #000000;
	height:178px;
}



.main {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: auto;
	background-color: #ffffff;
	color: #000000;
	font-family: arial;
}

.main > div {
 	color: #000000;
}

.main1{
height: 347px;
} 

.main2{
	height: 102px;
	font-family: Sumana;
	font-style: normal;
	font-weight: normal;
	line-height: 102px;
	font-size: 34px;
	position: relative;	
	letter-spacing: 0.006em;

}
h2{
	font-family: Sumana;
	font-style: normal;
	font-weight: normal;
	line-height: 34px;
	font-size: 34px;
	position: relative;	
	letter-spacing: 0.006em;
}

.main3 {
	display: inline-block;
	height: 44px;
	float: left;
	font-size: 15px;
	border-top: 1px dashed #9B9B9B;
	border-bottom: 1px solid #DCDCDC; 
	line-height:44px;
color: rgba(30, 37, 45, 0.5);
}

.info{
font-size: 15px;
color: rgba(30, 37, 45, 0.5);
}

.admin:before{
	display: inline-block;
  content: '\f0dd';
  font-size: 13px;
  font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 19px;
	color: white;
}

.main4{
	height: 75px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: #000000;
	line-height:0px;
}

.main4 p{
padding: 10px 0  0 24px;

}

.main5{
height: 1238px;
font-family: Roboto;
font-style: normal;
font-weight: 300;
line-height:13px;
font-size: 13px;
letter-spacing: 0.006em;
color: #000000;
padding-left:24px;
}

.main5 a{
margin: 5rem ;
}

.bottom{

}


.side-bar {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: auto;
	width:	auto;
	height: auto;
  background-color: #ffffff;
	color: #000000;
	font-family: arial;
}

.side-bar > div {
  color: #000000;
}


.agenda{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-auto-rows: min-content;
	width:	auto;
	height: auto;
  background-color: #0079C3;
	color: #FFFFFF;
	height:529px;
	

}

.agenda > div {
  color: #FFFFFF;
	font-family: Mina;
	font-size: 18px;
	line-height: normal;
	
	text-align: center; 
	font-weight: bold;
	font-style: normal;
	
}
.agenda-button, .Headnews-button, .Announcement-button {
 background-color: #0079C3;
  color: #FFFFFF;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.1s;
	font-family: Mina;
	font-size: 18px;
	line-height: 50px;
	font-weight: bold;
	font-style: normal;
}

.content-sdbar {
height:75px;
background: #2396DD;
border: 1px solid rgba(255, 255, 255, 0.3);
}

.agenda-date{
width: 47px;
height: 47px;
background: rgba(255, 255, 255, 0.3);
font-family: Roboto;
font-style: normal;
font-weight: bold;
line-height: 10px;
font-size: 18px;
color: #FFFFFF;
margin: 12.5px 0 0 12.5px;
}

.number {
font-family: Roboto;
font-style: normal;
font-weight: bold;
line-height: 0px;
font-size: 10px;
color: #FFFFFF;
}

.text-date {
font-family: Roboto;
font-style: normal;
font-weight: bold;
line-height: 5px;
font-size: 13px;
font-weight: 300px;
color: #FFFFFF;
position: relative;
margin: -47.5px 0 0 65px;
text-align: left
}


.sdbar2{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-auto-rows: min-content;
	width:	auto;
	height: auto;
}

.sdbar2 > div {
  color: #000000;
	padding: 0px;
	text-align: left; 
}

.sdbar2-1{
height: 68px;
border-bottom: 1px solid rgba(30,37, 45, 0.15);
font-size: 16px;
line-height: 68px;
font-weight: bold;
text-transform: uppercase;
}

.sdbar2-1 i{
	font-weight: bold;
	color: rgba(30, 37, 45, 0.5); 
	
}

.sdbar2-2, .sdbar2-4  {
	display: grid;
	grid-template-columns: auto 100px;
	grid-auto-rows: min-content;
	width:	auto;
	height: auto;
  background-color: #ffffff;
	color: #000000;
	font-family: arial;
}

.sdbar2-2, .sdbar2-4 > div {
  color: #000000;
	height:160px;
}

.tsb1{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	line-height: 0px;
	font-size: 14px;
	color: #1E252D;
	
padding-top: 10px;
} 

.lorem{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: 5px;
	font-size: 13px;
	color: #848484;
	padding-top: 2.5px;
}

.date{
font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: 5px;
	font-size: 12px;
	color: #0079C3;
	padding-top: 10px;
}

.border{
text-align: center;
background-color: #FFEEFF; 
}
.no-image{
font-family: fontAwesome;
font-size:10px;
line-height: normal;
height: 63px;
}
.fa-folder-open{
font-family: fontAwesome;
font-size:15px;
line-height: normal;
margin-top: 15px;
}

.image2{
text-align: center; 
padding-top: 10px;
}

.sdbar2-3, .sdbar2-5{
height: 150px;
border-bottom: 1px dashed rgba(30, 37, 45, 0.3); 
}

.author{
font-family: Roboto;
font-style: normal;
font-weight: 300;
line-height: 15px;
font-size: 11px;
color: #848484;  
}


.bitly{
font-family: Roboto;
font-size: 12px;
color: #0079C3;
text-decoration-line: underline;
padding-top: 5px;
}

.sdbar3{
height:590px;
display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(8, 50px);
	grid-auto-rows: min-content;
	background-color: #ffffff;
	font-family: Mina;
	font-weight: bold;
	color: #1E252D;
}

.sdbar3 > div {
	font-family: Mina;
	font-size: 16px;
	line-height: 50px;
	color: #1E252D;
	text-transform: uppercase;
}

.box6 {
display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: auto;
	align-items: center;
	justify-items: center;
	

	place-items: center;
	background-color: #0079C3;
width: 100%;
}


footer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	width:	1190px;
	height: auto;
  height:238px;
}

footer > div {
 	
  color: #000000;
	background-color: #0079C3;
	padding-top:13px;
}


.logo-its-putih	{
	position: relative;
	width: 187px;
	height:121px;
padding: 0;
}

.box6 p {
display: block;
	color: white;
	text-align: left;
	text-decoration: none;
	font-family: Arial;
	font-size:6px;
	line-height: 5px;
}

.footeratas2 p, .footeratas3 p, .footeratas4 p{
font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: 5px;
font-size: 15px;
color: #FFFFFF;
}

.footeratas2 b, .footeratas3 b, .footeratas4 b{
font-family: Sumana;
font-style: normal;
font-weight: normal;
line-height: 30px;
font-size:14px;
color:#FFFFFF;
}

footer1 {
display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: auto;
	align-items: center;
	justify-items: center;
	

	place-items: center;

width : 100%;
height: 55px;
background-color: #000000;
}
.box7
{
width:1190px;
background-color: #000000;
}
.box7 ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000000;
	
}
.box7 li a{
	display: inline-block;
}

.box7 li a{
	float: left;
}
.box7 li b{
	display: inline-block;
	float: right;
}
.box7 li  a	{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 18px 5px 18px 0px;
	text-decoration: none;
	font-family: fontAwesome;

	font-size:14px;
}

.box7 li a:hover {
  color: #000;
}

.box7 li  b	{
	display: inline-block;
	color: white;
	text-align: left;
	padding: 18px 0px 18px 0px;
	text-decoration: none;
	font-family: Sumana;
	font-size:14px;
}

.youtube:after {
    content: '\f16a';
	font-style: normal;
		}
.facebook:after {
    content: '\f082';
	font-style: normal;
		}
.twitter:after {
    content: '\f099';
	font-style: normal;

		}
.instagram:after {
    content: '\f16d';
	font-style: normal;
		}

}

