.wrapper {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: auto;
	align-items: center;
	justify-items: center;
	width:	auto;
	height: auto;
	place-items: center;
  background-color: #ffffff;
	color: #000000;
	font-family: arial;
}

.wrapper > div {
  width:1190px;
  color: #000000;
}

.box1 { 
 display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: auto;
	align-items: center;
	justify-items: center;
	place-items: center;
  background-color: #0079C3;
	color: #000000;
	font-family: arial;
	width:100%;
}

.box1 ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #0079C3;
}

.box1 li{
	float: left;
}

.box1 li a 	{
	display: block;
	color: white;
	text-align: center;
	padding: 27px 15px 27px 15px;
	text-decoration: none;
	font-family: Sumana;
	border-right: 1px solid #2396DD;
	font-size:14px;
}

.box1 li a:hover {
  color: #000;
}

.more:after{
	display: inline-block;
  content: '\f0dd';
  font-size: 13px;
  font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 19px;
	color: white;
}

.box1 li b  	{
	display: block; 	
	padding: 0px 10px 0px 10px;
	display: inline-block;
	font-size: 18px;
  font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 0.006em;
	margin: 16.5px 0 16.5px 0;
	color: #fff;
	line-height: 35px;
}

.search-icon:after{
	margin-left:270px;
	content: '\f002';
	font-family: FontAwesome;
}

.active {
border-left: 1px  solid #2396DD;
}
.EN:after	{
	content: '\f0dd';
	font-family: FontAwesome;
}

.box1 li b:hover {
	color: #000;
}

.box2 {
	display: grid;
	grid-template-columns: 450px auto;
	grid-template-rows: auto;
	width:	auto;
	height: auto;
  background-color: #ffffff;
	color: #000000;
	font-family: arial;
}

#login-button{
  cursor: pointer;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.1s;
	width: 85px;
	height: 35px;
	background: #FFBD07;
	border-radius: 3px;
	font-family: Myriad Pro;
	font-size: 14px;
	color: #0079C3;
	font-weight:bold; 
}


.box2 > div {
  color: #000000;
	height:261px;
}

.Logo-ITS	{
	position: relative;
	width: 142px;
	height: 88px;
	margin:50px 0 0 0;	
}

.judul{
	font-family: Sumana;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size:48px;
	letter-spacing: 0.006em;
	color:#192D3A;
	margin: 10px 0 10px 0;
}

.search-buku {
padding:0;  
float: right;
}

	.search-buku ul {
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #FFFFFF;
		border: 1px solid #DCDCDC;
		box-sizing: border-box;	
	position: relative;
	width: 680px;
	
	margin:88px 0 0 55px;	

	}

	.search-buku li a 	{
  	display: block;
  	color: black;
  	text-align: center;
  	text-decoration: none;
		font-family: Sumana;
		padding: 0;
		font-size:16px;
	}

	.search-buku li{
		display: block;
		float: right;
	}

	.fook{
		margin-left:503px;
		padding: 0px;
	}

	.fook:after{
		display: inline-block;
    content: '\f107';
    font-size: 15px;
    font-family: FontAwesome;
		font-style: normal;
		font-weight: bold;
		color: black;
		padding: 15px 15px 15px 0;
	}
	
	.Book-search:before{
		display: inline-block;
    content: '\f002';
    font-size: 15px;
    font-family: FontAwesome;
		font-style: normal;
		font-weight: bold;
		color: #fff;
		padding: 15px;;
		
	}

	.Book-search{
		background:#0079C3;
	}	

	.b:after{
 		content: '\f05a';
    font-size: 15px;
    font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		color: #192D3A;
		position: relative;
		width:13px;
		height:15px;
		left:55px;
		top: 10px;
	}

	.notification{
    font-size: 13px;
    font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		line-height: 5px;
		letter-spacing: 0.006em;
		color: #9B9B9B;
		padding: 164px auto auto 528px; 
		position: relative;
		left:75px;
		top: -17px; 
	}




.box3 ul {
	
	list-style-type: none;
	margin: 0px;
	padding: 0;
	overflow: hidden;
	background: white;

	border: 1px solid #EEEEEE;
	box-sizing: border-box;

}

.box3 li {
  	float: left;
}

.box3 li a 	{
	  	display: block;
	  	color: black;
	  	text-align: center;
	  	padding:17.5px 17.5px 17.5px 17.5px;
  	text-decoration: none;
		font-family: Sumana;
		font-size:15px;
		
	}

.Home{
background: #FFBD07;
}

.box3  :hover {
	color:#FFBD07;
}

.box4 {
	display: grid;
	grid-template-columns: auto 365px;
	grid-template-rows: auto;
	width:	auto;
	height: auto;
  background-color: #ffffff;
	color: #000000;
	font-family: arial;
}

.box4 > div {
  color: #000000;
	height:1503px
}

.seminar{
		position: absolute;
		width: 825px;
		height: 347px;

	}

.main{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: auto;
	width:	auto;
	height: auto;
	
  background-color: #ffffff;
	color: #000000;
	font-family: arial;
}

.main > div {
 	
  color: #000000;
}

.main1 {
height: 347px; 
}

.main2{
	display: grid;
	grid-template-columns: auto 42px 42px;
	grid-template-rows: auto;
	width:	auto;
	height: auto;
	background-color: #ffffff;
	color: #000000;
	font-family: arial;
	height: 42px;
}

.main2 > div {
  color: #FFFFFF;
}

.date {
background: #1E252D;
font-family: Roboto;
font-weight: 300;
line-height: 42px;
font-size: 14px;
letter-spacing: 0.006em;
color:#FFFFFF;
}

.left-slider{
  background: #1E252D;
	color: #FFFFFF;
	line-height: 42px;
	font-size: 25px; 
	padding: 0 15px 0 12.5px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.1s;
	font-weight: bold;
	font-style: normal;
}

.right-slider{
  background: #FFBD07;
	color: #FFFFFF;
	line-height: 42px;
	font-size: 25px; 
	padding: 0 15px 0 12.5px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.1s;
	font-weight: bold;
	font-style: normal;
}

.mySlides {
  display: none;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.main3{
	display: grid;
	grid-template-columns: 216px 196px 196px auto;
	grid-template-rows: auto;
	width:	auto;
	height: 229px;
	
  background-color: #ffffff;
	color: #000000;
	font-family: arial;
	
}

.main3 > div {
  color: #000000;
	
}

.main3-2, .main3-3{
	border-bottom: 1px dashed #9B9B9B;
	border-left: 1px dashed #9B9B9B;
	border-right: 1px dashed #9B9B9B;
}

.main3-1, .main3-4{
border-bottom: 1px dashed #9B9B9B;
}

.sub-title{
	font-family: Sumana;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 35px;
	padding:13px 0 0 5px;
	letter-spacing: 0.006em;
}

.content {	
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	line-height: 0px;
	font-size: 14px;
	padding:0 0 0 5px;
}

.main4{
height:50px;
	background-color: #ffffff;
	font-family: Mina;
	font-weight: bold;
	color: #1E252D;
	line-height: 50px;
}

.main5, .main6 {
	display: grid;
	grid-template-columns:  auto 176px;
	grid-template-rows: auto;
	width:	auto;
  background-color: #ffffff;
	color: #000000;
	font-family: arial;
	
}

.main5 > div, .main6  > div {
  color: #000000;
	
}

.text-tittle {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	line-height: 5px;
	font-size: 17px;  
	padding-top: 10px; 
}

.text-content {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: 5px;
	font-size: 13px; 
	color:#848484; 
	padding-top: 1px; 
}

.Science {
width: 56px;
height: 20px;
background: #FFBD07;
border-radius: 3px; 
font-family: Mina;
font-style: normal;
font-weight: normal;
line-height: 20px;
font-size: 12px;
letter-spacing: 0.01em;
color: #FFFFFF; 
text-align: center;
}

.Technology {
width: 85px;
height: 20px;
background: #FFBD07;
border-radius: 3px; 
font-family: Mina;
font-style: normal;
font-weight: normal;
line-height: 20px;
font-size: 12px;
letter-spacing: 0.01em;
color: #FFFFFF; 
text-align: center;
}

.photo {
padding-top: 10px;
width: 176px;
height: 132px;
}

.fa-spinner{
color: rgba(30, 37, 45, 0.5);
}

.main5, .main6{
	height: 178px;
border-top: 1px solid rgba(30, 37, 45, 0.15);
}

.main7{
height: 50px;
}

.main8	{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(7, 50px);
	background-color: #ffffff;
	font-family: Mina;
	font-weight: bold;
	color: #1E252D;
	height: 425px;
}

.main8 > div {
	font-family: Mina;
	font-size: 16px;
	line-height: 50px;
	color: #1E252D;
	text-transform: uppercase;
	border-top: 1px solid rgba(30, 37, 45, 0.15);
}

.side-bar {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-auto-rows: min-content;
	width:	auto;
	height: auto;
	
  background-color: #ffffff;
	color: #000000;
	font-family: arial;
}

.side-bar > div {
 color: #000000;
}

.agenda{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-auto-rows: min-content;
	width:	auto;
	height: auto;
	color: #FFFFFF;
}

.agenda > div {
  color: #FFFFFF;
	font-family: Mina;
	font-size: 18px;
	line-height: 50px;
	text-align: center; 
	font-weight: bold;
	font-style: normal;
	background-color: #0079C3;
}

.agenda-button, .Headnews-button, .Announcement-button {
 background-color: #0079C3;
  color: #FFFFFF;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.1s;
	font-family: Mina;
	font-size: 18px;
	line-height: 50px;
	font-weight: bold;
	font-style: normal;
}

.content-sdbar {
height:75px;
background: #2396DD;
border: 1px solid rgba(255, 255, 255, 0.3);
}

.agenda-date{
width: 47px;
height: 47px;
background: rgba(255, 255, 255, 0.3);
font-family: Roboto;
font-style: normal;
font-weight: bold;
line-height: 10px;
font-size: 18px;
color: #FFFFFF;
margin: 12.5px 0 0 12.5px;
}

.number {
font-family: Roboto;
font-style: normal;
font-weight: bold;
line-height: 0px;
font-size: 10px;
color: #FFFFFF;
}

.text-date {
font-family: Roboto;
font-style: normal;
font-weight: bold;
line-height: 5px;
font-size: 13px;
font-weight: 300px;
color: #FFFFFF;
position: relative;
margin: -47.5px 0 0 65px;
text-align: left
}

.sdbar2{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-auto-rows: min-content;
	width:	auto;
	height: auto;
	color: #FFFFFF;
}

.sdbar2 > div {
  color: #FFFFFF;
	font-family: Mina;
	font-size: 18px;
	line-height: 50px;
	text-align: center; 
	font-weight: bold;
	font-style: normal;
	background-color: rgba(0, 0, 0, 0.5);;
}

.scholar-button {
background-color: rgba(0, 0, 0, 0.1);
  color: #FFFFFF;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.1s;
	font-family: Mina;
	font-size: 18px;
	line-height: 50px;
	font-weight: bold;
	font-style: normal;
}

.scholar {
height:50px;
background: #EEEEEE;
border: 1px solid rgba(255, 255, 255, 0.3);
}

.scholar-text {
font-family: Roboto;
font-style: normal;
font-weight: 300;
line-height: 14px;
font-size: 14px;
background: #EEEEEE;
color: #1E252D;
letter-spacing: 0.006em;
text-align: left;
margin-left: 15px;
}


.sdbar3{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: 175px 86px 268px;
	width:	345px;
	height: auto;
	
	float: right;
	background-color: #E6E6E6;
}


.sdbar3 > div {
 	
  color: #FFFFFF;
	background-color: #E6E6E6;
}

.photo-perpus{
width: 345px;
height: 175px;
}

.rectangle{
padding:9px

}
.rectanglein{
background-color: #FFFFFF;
width: 327px;
height: 68px;
border-radius: 3px;
}

.square {
  height: 32px;
  width: 32px;
  background-color: #555;
}

.box5 {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: auto;
	width:	auto;
	height: auto;
	background-color: #ffffff;
	color: #000000;
	font-family: arial;
}

.box5 > div {
 	
  color: #000000;
	height:178px;
}

.adv {
height: 40px;
width: 124px;
margin: 25px 0 0 35px;
}





.box6 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	width:	auto;
	height: auto;
  height:238px;
}

.box6 > div {
  color: #000000;
	background-color: #0079C3;
	padding-top:13px;
}

.logo-its-putih	{
	position: relative;
	width: 187px;
	height:121px;
padding: 0;
}

.box6 p {
display: block;
	color: white;
	text-align: left;
	text-decoration: none;
	font-family: Arial;
	font-size:10px;
	line-height: 5px;
}

.footeratas2 p, .footeratas3 p, .footeratas4 p{
font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: 5px;
font-size: 15px;
color: #FFFFFF;
}

.footeratas2 b, .footeratas3 b, .footeratas4 b{
font-family: Sumana;
font-style: normal;
font-weight: normal;
line-height: 30px;
font-size:14px;
color:#FFFFFF;
}


.box7 ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000000;
	
}
.box7 li a{
	display: inline-block;
}

.box7 li a{
	float: left;
}
.box7 li b{
		display: inline-block;

	float: right;
}
.box7 li  a	{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 18px 5px 18px 0px;
	text-decoration: none;
	font-family: fontAwesome;

	font-size:14px;
}

.box7 li a:hover {
  color: #000;
}

.box7 li  b	{
	display: inline-block;
	color: white;
	text-align: left;
	padding: 18px 0px 18px 0px;
	text-decoration: none;
	font-family: Sumana;
	font-size:14px;
}

.youtube:after {
    content: '\f16a';
	font-style: normal;
		}
.facebook:after {
    content: '\f082';
	font-style: normal;
		}
.twitter:after {
    content: '\f099';
	font-style: normal;

		}
.instagram:after {
    content: '\f16d';
	font-style: normal;
		}


